<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <br />

  <p>
    This version of the Splurty application was coded by 
    <a target="_blank" href="http://danielpoit.getforge.io/">Daniel Poit</a>. 
  </p>

  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'danny.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">

      <br />

      <p>Daniel Poit is 
        an aspiring Web Developer currently in the process of completing coding 
        bootcamp at the Firehose Project. He has several years experience in a 
        variety of tech positions, including onboarding/implementation support, 
        client services, and technical support. He is pursuing a career change 
        into full-time Web Development. Daniel holds a Bachelor's degree from 
        Berklee College of Music. In his spare time, he composes music for film, 
        TV, and video games.
      </p>
    </div>
  </div>

  <br class="clear" />

  <div align="center">
    <p>
      If you want to learn how to code - start 
      <a target="_blank" href="http://www.thefirehoseproject.com/">here</a>.
    </p>
  </div>

  <br />
  <br />
  <br />
  <br />

</div>