<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <br />

  <p>
    This version of the Splurty application was coded by
    <a href="http://www.dannypoit.com/">Danny Poit</a>.
  </p>

  <br />

  <div class="row">
    <div class="col-12 col-sm-4 me-photo">
      <%= image_tag 'danny.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">

      <p>I am a web developer with experience primarily in Ruby on Rails, but with an interest in JavaScript, as well as both the front-end and back-end of web applications. I recently graduated from the Full-Stack Web Development Bootcamp at the Firehose Project. In my previous career as an implementation specialist, I enjoyed managing customer onboardings and data migrations, but I wanted a deeper involvement in building applications, automating things, and solving complex problems. I’ve been programming as a hobby since childhood, and I recently rekindled this passion. I’m seeking a role as a web developer at a company that follows best practices like test-driven development and pair programming to help me learn and grow as a developer.
      </p>
    </div>
  </div>

  <br class="clear" />

  <div align="center">
    <p>
      If you want to learn how to code - start
      <a target="_blank" href="http://www.thefirehoseproject.com/">here</a>.
    </p>
  </div>

  <br />
  <br />
  <br />
  <br />

</div>
