<h3>
  <span>SPLURTY / No. <%= @quote.id %></span>
  <i>Words of coding wisdom:</i>
</h3>

<br />

<h1>&ldquo;<%= @quote.saying %>&rdquo;</h1>
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />