@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Oswald');

@import "bootstrap";

.about {
  font-family: 'source_code_proregular', sans-serif;
}

.circle {
    font-family: 'saxmonoregular', sans-serif;
    font-weight: bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #f84342;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.circle_container {
  padding-top: 10px;
}

.logo:hover {
  text-decoration: none;
}

.clear {
  clear: both;
}

a {
  color: #f84342;
}

a:hover {
  color: #CF1A19;
  text-decoration: none;
}

.footer-blurb {
  font-family: 'source_code_proregular', sans-serif;
  font-style: italic;
  font-size: 12px;
  text-align: right;
}

.links {
  padding-top: 40px;
}

/* removed border-bottom: 1px solid #f84342; from .links a because I don't like it */
.links a {
  color: black;
  font-size: 25px;
  font-family: 'rubikregular', sans-serif;
}

.links a:hover {
  color: #CF1A19;
  text-decoration: none;
}

.modal {
  font-family: 'source_code_proregular', sans-serif;
}

.modal_button {
  font-family: 'saxmonoregular', sans-serif;
}

.next-quote {
  font-family: 'saxmonoregular', sans-serif;
  font-size: 20px;
}

.footer-box {
  margin-bottom: 20px;
}

.slogan {
  font-family: 'source_code_proregular', sans-serif;
  font-size: 20px;
  font-style: italic;
  vertical-align: middle;
  padding-top: 30px;
  max-width: 400px;
  margin-right: 50px;
}

header {
  border-top: 9px solid #222222;
}

hr {
  clear: both;
}

h1 {
  font-family: 'Crimson Text', serif;
  padding: 0 50px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  padding: 0 50px;
}

h3 {
  font-family: 'source_code_proregular', sans-serif;
  font-size: 18px;
}

/* used a different font than h1 for cosmetic reasons */
h3 span {
  font-family: 'saxmonoregular', sans-serif;
  color: #b3b3b3;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}

::selection {
  background-color: #f84342;
}
